node_modules/
build/
dist/
venv/
coverage/
.vite/
dataset/
venv/
.DS_Store
*.log
.env*
!.env.example
.env.example
firebase-applet-config.json
dist/
.firebase/
client_credentials.json
token.json
variables.*
*.pb
*.tflite
*.keras
static/
docs/
docs/ModelContextProtocol.pptx
